@charset "UTF-8";

@media (min-width: 768px) and (orientation: portrait) {

  .content_title {
    font-size: 2.8rem;
  }

  .content_subtitle {
    font-size: 1.5rem;
  }

  .quote_text {
    font-size: 3.5rem;
  }

  /* TECNOLOGY PAGE */

  .caracteristicas_item {
    display: inline-block;
    width: 32%;
    height: 300px;
    vertical-align: top;
  }

  .fact_cientifico {
    border: solid 2px #F3AE30;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    width: 90%;
  }

  .resultados_item {
    width: 32.5%;
    height: 250px;
  }

  /* TRATAMIENTO PAGE */

  .step_item {
    width: 25%;
  }

  .servicios_item {
    background-color: #F1F0EF;
    width: 21vw;
    height: 21vw;
    margin: 3px;
    padding: 0 1%;
  }

  .contact_header {
    max-width: 700px;
    margin: 0 auto;
  }

  .contact_container {
      max-width: 700px;
      margin: 0 auto 10vh auto;
    }

}

@media (min-width: 992px) and (orientation: portrait) {

  .resultados_section {
    padding: 20px 10%;
    text-align: center;
  }

  .resultados_item {
    display: inline-block;
    background-color: #F1F0EF;
    padding: 15px;
    width: 32.5%;
    height: 280px;
    margin-bottom: 5px;
    vertical-align: top;
    cursor: pointer;
  }

  .contact_header_title {
    font-size: 2.9rem;
  }


}

@media (min-width: 1000px) and (orientation: landscape) {

  .section_height {
    height: 700px;
  }

  /* HEADER PARALLAX */

  .front_hero-img {
    background-image: url('../images/bkg-front.jpg');
  }

  .front_hero-foreground {
    width: 350px;
    left: 50%;
    margin-left: -175px;
    top: 30vh;
  }

  .contact {
    display: block;
    position: fixed;
    right: 30px;
    bottom: 80px;
    z-index: 30;
  }

  .contact_brochure_link {
    display: block;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .contact_brochure_logo {
    width: 100%;
  }

  .contact_ig_link {
    display: block;
    vertical-align: middle;
    width: 42px;
    margin: 0 auto;
  }

  .contact_ig_logo {
    width: 100%;
  }

  .contact_brochure_logo-black {
    width: 100%;
  }

  .contact_ig_logo-black {
    width: 100%;
  }

  .footer_noticias {
    padding: 20px 5vw;
    text-align: center;
    background-color: #4D4D4F;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }

  /* HOME PAGE */

  .front_hero {
    background: transparent;
  }

  #myVideo{
    display: block;
    min-height: 100%;
    min-width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
  	z-index: -5;
  }

  .content {
    padding: 0 30vw;
  }

  .content_title {
    font-size: 3rem;
  }

  .content_subtitle {
    font-size: 1.5rem;
  }

  .comprometidos_section {
    background-image: url('../images/bkg1-web.jpg');
  }

  .quote {
    padding: 0 30vw;
  }

  .quote_text {
    font-size: 4rem;
  }

  .iluminas_section {
    background-image: url('../images/bkg2-web.jpg');
  }

  .poder_section {
    background-image: url('../images/bkg3-web.jpg');
  }

  .espectro {
    text-align: center;
    padding: 5vw;
  }

  .espectro_item {
    padding: 0;
    margin: 0px;
    display: inline-block;
    width: 33%;
    vertical-align: top;
  }

  .espectro_item_thumbnail {
    width: 85%;
  }

  .espectro_item_colores {
    display: inline-block;
    width: 102%;
    margin-top: 30px;
  }

  .espectro_item_title {
    padding: 0 10%;
  }

  .espectro_item_paragraph {
    padding: 0 10%;
  }

  .footer {
    padding: 20px 5vw;
    text-align: center;
  }

  .footer_logo {
    display: inline-block;
    margin: 0 auto;
    width: 200px;
    vertical-align: middle;
  }

  .footer_list {
    display: inline-block;
    margin: 0px;
    vertical-align: middle;
  }

  .footer_list_item {
    display: inline-block;
    margin: 0px 15px;
  }

  .footer_list_item img {
    width: 25px;
  }

  /* TECNOLOGIA PAGE */

  .infraroja_section {
    background-image: url('../images/bkg4-web.jpg');
  }

  .fototerapia_section {
    background-image: url('../images/bkg5-web.jpg');
  }

  .tripleonda_section {
    background-image: url('../images/bkg6-web.jpg');
    height: 80vh;
  }

  .caracteristicas_section {
    max-width: 1440px;
    margin: 0 auto;
  }

  .caracteristicas_item {
    display: inline-block;
    width: 33%;
    height: 280px;
    vertical-align: top;
  }

  .cientifico_section {
    background-image: url('../images/bkg7-web.jpg');
    padding: 10vh 30vw;
  }

  .fact_cientifico {
    width: 100%;
  }

  .resultados_section {
    display: flex;
    flex-direction: row;
    padding: 10vh 5vw;
    justify-content: center;
  }

  .resultados_item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 33vw;
    height: 30vw;
    margin: 5px;
    padding: 35px;
  }

  .resultados_item h3 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .resultados_item_text {
    font-size: 0.8rem;
  }

  .info_section {
    text-align: center;
    padding: 0 20vw 5vh 20vw;
  }

  /* TRATAMIENTO PAGE */

  .transforma_section {
    background-image: url('../images/bkg8-web.jpg');
  }

  .esencial_section {
    background-image: url('../images/bkg9-web.jpg');
  }

  .step_section {
    background-image: url('../images/bkg10-web.jpg');
    padding: 0 15vw;
  }

  .step_section .content_text {
    padding: 0 10vw;
  }

  .step_item {
    width: 25%;
  }

  .superior_section {
    display: block;
    padding: 10vh 10vw;
  }

  .servicios_item {
    background-color: #F1F0EF;
    width: 19vw;
    height: 19vw;
    margin: 3px;
    padding: 2%;
  }

  .servicios_item p {
    font-size: 1rem;
  }

  /* TESTIOMONIO PAGE */

  .energia_section {
    background-image: url('../images/bkg11-web.jpg');
  }

  .testimonio_img_section {
    padding: 10vh 15vw;
  }

  .regeneracion_section {
    background-image: url('../images/bkg12-web.jpg');
  }

  .testimonio_background_img_section {
    background-image: url('../images/bkg13-web.jpg');
  }

  /* PAGINA NOTICIAS */

  .noticias_header {
    visibility: hidden;
    padding-top: 10vh;
  }

  .noticia_item {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  .noticia_item_header {
    padding: 0px 0px 30px 30px;
    width: 50%;
  }

  .noticia_title {
    font-size: 2.4rem;
    margin: 0 auto 20px auto;
  }
/*
  .noticia_date {
    color: #58595B;
    font-style: italic;
    font-size: 1rem;
    margin: 0;
  }

  .noticia_content {
    color: #555859;
  } */

  .noticia_item .flexslider {
    width: 50%;
  }

  /* CONTACT PAGE */

  .contact_fullpage {
    max-width: 1920px;
    height: 100vh;
    padding-top: 20vh;
    text-align: center;
  }

  .contact_header {
    padding: 0 5vw;
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: left;
  }

  .contact_header_title {
    font-size: 2.8rem;
  }

  .contact_container {
    display: inline-block;
    width: 45%;
    border-radius: 5px;
    padding: 20px;
    vertical-align: top;
    text-align: left;
  }

  .contact_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }


}

@media (min-width: 1440px) and (min-aspect-ratio: 16/9) {



  .caracteristicas_section {
    padding: 10vh 0;
  }

  .contact_fullpage {
    padding-top: 25vh;
  }


}
